<div class="container">
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
 <mat-table [dataSource]="customersDataSource" >
    
    <ng-container matColumnDef="salutation">
        <mat-header-cell *matHeaderCellDef>
            Salutation 
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.salutation }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>
             First name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.firstName }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>
             Last name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.lastName }}
        </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetail(row)" style="cursor: pointer;"></mat-row>

    
    <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr> -->
</mat-table>  

<!-- <div *ngFor="let element of customers">
    <span>{{element.salutation}}</span> <span> {{element.firstName}}</span> <span>{{element.lastName}}</span>

</div> -->

<!-- <table>
    <tr>
        <td>Salutation</td>
        <td>First name</td>
        <td>Last name</td>
    </tr>
    <tr *ngFor="let element of customers">
        <td>{{element.salutation}}</td>
        <td>{{element.firstName}}</td>
        <td>{{element.lastName}}</td>
    </tr>
</table> -->
<div>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
  </div>
</div>